.footer-content {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  height: 100px;
  background-color: white;
  color: rgb(5, 86, 71);
  font-size: 60px;
  font-weight: bold;
  padding: 20px;
  text-align: center;
}
