* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
h1 {
  font-style: italic;
  font-size: 70px;
  text-align: center;
  color: rgb(5, 86, 71);
  background-color: white;
}
h2{
  font-size: 40px;
  text-align: center;
  font-style: italic;
}