nav ul {
    font-size: 30px;
    font-style: italic;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    background-color: black;
  }
  
  nav li {
    margin: 10px;
    border: 2px solid white;
    border-radius: 35px;
    padding: 10px;
  }
  
  nav li:hover {
    background-color: gray;
  }
  nav a {
    text-decoration: none;
    color: white;
  }